body{
    padding: 0;
}

/*
페이지  이동 버튼 숨기기
#page_move {
    display: none;
}
*/

/* 설명 부분 */
h1{
    font-size: 2.5rem;
    text-align: center;
    /* 모바일웹 폰트 사이즈 고정 */
    -webkit-text-size-adjust: none; /*Chrome, Safari, newer versions of Opera*/
    -moz-text-size-adjust: none; /*IE*/
    -moz-text-size-adjust: none; /*old versions of Opera*/
}

@media screen and (max-width: 600px) {
    h1 { 
        font-size: 80%;
    }
}

/* 오디오 재생 버튼 */
#audio_btn{
    width: 95%;
    height: 50%;
    background-color:#004fff;
    border: none;
    color: #fff;
    box-shadow: 0 2px 10px rgba(0, 79, 255, 0.3);
    font-size: 4rem;
    font-weight: bold;
    border-radius: 2.5rem;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition:0.3s;
}

#audio_btn:focus{
    outline:0;
}
/* 오디오 재생버튼 커서 변화 */
#audio_btn:hover{
    background-color: rgba(0, 79, 255, 0.9);
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 79, 255, 0.6);;
}

#WinClose_btn{
    width: 95%;
    height: 17%;
    background-color: #ff5e00;
    border: none;
    color: #fff;
    box-shadow: 0 2px 4px rgba(255, 94, 0, 0.6);
    font-size: 4rem;
    font-weight: bold;
    border-radius: 2rem;
    position: absolute;
    top: 84%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#WinClose_btn:focus{
    outline:0;
}

#WinClose_btn:hover{
    background-color:rgba(255, 94, 0, 0.9);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(255, 94, 0, 0.6);
}
